<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-16T03:32:10Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cha-ji/iCloud Drive(아카이브)/3학년 1학기/영상처리및실습(장원두)/code/OpenCV_9Week/OpenCV_9Week.xcodeproj</string>
</dict>
</plist>
